<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base href="{{ base_url() }}">

    <title>Slim Skeleton</title>

    <!-- realfavicongenerator.net icons here -->

    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/app.css">
</head>
<body>

{% block body %}{% endblock %}

<script type="text/javascript" src="{{ base_url() }}/js/app.js"></script>
</body>
</html>